@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Roboto', sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Roboto', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Roboto', sans-serif;
}

.box {
    width: 60%;
    border-top: 5px solid #489cdf;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 3% auto;
    background-color: #EFEFEF;
}

.gray {
    color: #696969;
}

hr {
    width: 70%;
}

textarea {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    resize: none;
    outline: none;
    border: none;
    border-bottom: #c1c1c1 solid 2px;
    font-family: 'Roboto', sans-serif;
}

textarea:focus {
    border-bottom: #5193e1 solid 2px;
}

.login {
    width: 350px;
    border-top: 5px solid #489cdf;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 3% auto;
    background-color: #EFEFEF;
}

input {
    border: none;
    font-size: 20px;
    margin-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: #c1c1c1 solid 2px;
    outline: none;
    display: inline-block;
    background-color: #EFEFEF;
}

input:focus {
    border-bottom: #5193e1 solid 2px;
}

.ticket_item {
    color: #333333;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.ticket_item:hover {
    color: #131313;
}

button {
    text-decoration: none;
    padding: 7px 10px;
    margin: 10px 5px 10px 5px;
    color: darkslategray;
    font-size: 14px;
    background-color: #DFDFDF;
    border-radius: 2px;
    font-weight: bolder;
    border: 1px solid #D7D7D7;
}

button:hover {
    background-color: #dedede;
    border: 1px solid #2c8ca9;
    color: #162626;
}

.menu {
    padding: 10px 17px;
    margin: 10px 5px 10px 5px;
    font-size: 17px;
}

.notice {
    color: #4c4c4c;
    text-decoration: none;
    text-align: center;
}

.notice:hover {
    color: #191919;
}

div.notice {
    position: relative;
    left: 50%;
    bottom: 1px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.group {
    width: 150px;
    height: 110px;
    border: 1px solid #2c8ca9;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 3% auto;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px #969696;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: default;
}

.navbar li {
    border-top: 3px solid #489cdf;
    float: left;
    cursor: pointer;
}

.navbar li a {
    display: block;
    color: rgb(213, 202, 217);
    background-color: #252326;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    cursor: pointer;
}

.navbar li a:hover {
    color: #fff;
    background-color: #282529;
    cursor: pointer;
}

.active {
    background-color: #1d1b1e !important;
}

.nav-right {
    float: right !important;
}

.nav-left {
    float: left !important;
}